<template>
  <div class="cards">
    <div class="listCards">
      <v-col>
        <v-card-title>SHARED BOARD CARDS </v-card-title>
        <Board></Board>
        <v-divider class="mx-4"></v-divider>
        <v-card-title>PLAYER SCORE : {{player.score}}</v-card-title>
        <v-card-title>PLAYER CARDS</v-card-title>
        <PlayerCard></PlayerCard>
        <div v-if="this.$store.state.patientPlayer">
          <Patient v-bind:show-modal="this.$store.state.patientPlayer"></Patient>
        </div>
      </v-col>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import PlayerCard from "@/components/PlayerCard";
import Board from "@/components/Board";
import Patient from "@/components/Patient";

export default {
  name: 'Home',
  computed: {
    ...mapState(['player', 'patientPlayer']),
  },
  components: {
    Patient,
    PlayerCard,
    Board
  },
}
</script>
