<template>
  <div class="container-login">
    <ConnectCard></ConnectCard>
  </div>
</template>

<script>
import ConnectCard from "@/components/ConnectCard";

export default {
  name: 'Login',
  components: {
    ConnectCard,
  },
}
</script>

<style>
.container-login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-login .authors {
  display: flex;
  align-items: center;
}

.container-login .authors i {
  font-size: 1rem;
}

.container-login .authors {
  font-size: 0.8rem;
  margin-top: 15px;
}
</style>
