<template>
  <div class="board">
    <v-col>
      <div v-for="(row, index) in board" v-bind:key="index">
        <v-row v-bind:class="{ chooseLineActive: $store.state.couldChooseLine }">
          <div v-if="$store.state.couldChooseLine">
            <v-btn
                color="primary"
                elevation="2"
                outlined
                v-on:click="chooseLine(index)">CHOOSE THIS LINE
            </v-btn>
          </div>
          <div v-for="(cardBoard, index2) in row" v-bind:key="index2">
            <v-card
                class="mx-auto my-12"
                max-width="200"
            >
              <template slot="progress">
                <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
                ></v-progress-linear>
              </template>

              <v-img
                  src="https://www.gigamic-adds.com/images/games/sixQuiPrend/Logo-6quiprend.png"
              ></v-img>
              <v-divider class="mx-4"></v-divider>
              <div>
                <p> Card number : {{ cardBoard.nb }}</p>
                <p> Head : {{ cardBoard.head }}</p>
              </div>

            </v-card>
          </div>
        </v-row>
      </div>
    </v-col>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "Board",
  computed: {
    ...mapState(['board', 'player', 'couldChooseLine','socket']),
    uniqueBoard: function() {
      let filtered_array = [];
      this.board.forEach(
          (row, index) => {
            row.forEach(
                card => {
                  if (!filtered_array[index]) filtered_array.push([])
                  if (filtered_array[index].indexOf(card.nb) === -1) {
                    filtered_array[index].push(card.nb)
                  }
                }
            )
          }
      );
      return filtered_array;
    }

  },
  methods: {
    chooseLine(index) {
      console.log(index)
      // potentiellement faire un +1 a l'index car array start a 0
      //let indexCard = this.board.findIndex(x => x.nb === card.nb);
      this.socket.send('LINE' + index, 'message-from-browser');
    }
  },
  created() {
    console.log(this.board)
  },
}
</script>

<style scoped>

.chooseLineActive{
  border: 4px solid dodgerblue;
  margin: 15px 0;
}

</style>