<template>
  <div class="connectCard">
    <div class="top">
      <h3 class="top__title">Bienvenue</h3>
      <p class="top__subtitle">Entrez les identifiants de connexion du serveur</p>
    </div>
    <div class="bottom">
      <div class="form">
        <div class="form__ip" :class="ip.valid ? '' : 'form__ip--invalid'">
          <i class="bx bxs-pencil"></i>
          <input type="text" placeholder="IP du serveur" v-model="ip.msg"/>
        </div>
        <div class="form__port" :class="port.valid ? '' : 'form__port--invalid'">
          <i class="bx bxs-pencil"></i>
          <input type="text" placeholder="PORT du serveur" v-model="port.msg"/>
        </div>
      </div>
      <v-btn
          class="btn"
          color="primary"
          elevation="2"
          outlined
          v-on:click="login">CONNECT</v-btn>
      <div>
        <p v-if="player.isConnected && this.firstPreStartMessage">Vous êtes connecté. Minimum 2 joueurs sont requis. Veuillez patienter</p>
        <p v-if="player.isConnected && preStartMessage">Attente de joueur potentiel : {{this.timeOutHandleInit}}s</p>
      </div>
      <div v-if="isOpenReady">
        <Ready v-bind:show-modal="isOpenReady"></Ready>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import Ready from "@/components/Ready";

export default {
  name: "ConnectCard",
  components: {
    Ready
  },
  data() {
    return {
      ip: {
        msg: '',
        valid: true,
      },
      port: {
        msg: '',
        valid: true,
      }
    }
  },
  computed: {
    ...mapState(['socket', 'player', 'isOpenReady', 'preStartMessage','firstPreStartMessage','timeOutHandleInit']),
  },
  methods: {

    login() {
      this.ip.valid = !!this.ip.msg ?? false
      this.port.valid = !!this.port.msg ?? false

      if (!this.ip.valid || !this.port.valid) return

      this.socket.send({ip: this.ip.msg, port: Number(this.port.msg)}, 'create-socket')
      this.socket.send('START', 'message-from-browser');
      this.$store.commit('SET_PLAYER_CONNECTED')
    },

  }
}
</script>

<style scoped>
.btn{
  border: 1px solid black;
}
</style>