<template>
  <div class="patient-modal" v-if="showModal">

    <div class="overlay">
      <div class="modal-card">
        <p>⚠️ PATIENTEZ UN JOUEUR CHOISIT UNE LIGNE ⚠️</p>
      </div>
    </div>

  </div>

</template>

<script>
export default {
  name: "Patient",
  props:['showModal'],
}
</script>

<style scoped>

.patient-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.modal-card{
  background: #f1f1f1;
  color: #333;
  padding: 50px;
  position: fixed;
  top: 40%;
}

</style>