<template>
  <div >
    <div class="cards">
      <div class="cards-element" v-for="(row, index) in player.cards" v-bind:key="index">
        <v-card
            class="mx-auto my-12 cards-element-cards"
            max-width="200"
        >
          <template slot="progress">
            <v-progress-linear
                color="deep-purple"
                height="10"
                indeterminate
            ></v-progress-linear>
          </template>

          <v-img
              src="https://www.gigamic-adds.com/images/games/sixQuiPrend/Logo-6quiprend.png"
          ></v-img>
          <v-divider class="mx-4"></v-divider>
          <p> Card number : {{ row.nb }}</p>
          <p> Head : {{ row.head }}</p>
          <v-btn
              color="primary"
              elevation="2"
              outlined
              v-on:click="playCard(row.nb)"
              :disabled='hasPlayedCard'
          >PLAY CARD</v-btn>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: "Cards",

  computed: {
    ...mapState(['player','socket', 'hasPlayedCard']),
    uniqueCards: function () {
      let filtered_array = [];
      this.player.cards.forEach(
          card => {
            if (filtered_array.indexOf(card.nb) === -1) {
              filtered_array.push(card.nb)
            }
          }
      );
      return filtered_array;
    }
  },
  methods: {
    playCard(card) {
      this.socket.send('PLAY_CARDS' + card, 'message-from-browser');
      this.$store.commit('SET_PLAYED_CARD')
    }
  },
  created() {
    console.log(this.player.cards)
  },
}
</script>

<style scoped>

.cards{
  display: flex;
  flex-wrap: wrap;
}
.cards-element {
  margin: 10px;
}
.cards-element-cards{
  padding: 5px;
}

</style>