<template>
  <div class="ready-modal" v-if="showModal">

    <div class="overlay">
      <div class="modal-card">
        <v-btn
            class="ready-btn"
            v-on:click="playerIsReady"
            depressed
            color="success"
            :disabled='isDisabled'
        >
          Ready ✅ ({{this.countdown}} sec)
        </v-btn>
        <p>⚠️ Pas ready, pas de game.</p>
      </div>
    </div>

  </div>

</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "Ready",
  data() {
    return {
      isDisabled: false,
    };
  },
  props:['showModal'],
  computed:{
    ...mapState(['socket', 'countdown']),
  },

  methods: {
    // redirect to home component avec le jeux de carte etc
    playerIsReady(){
      this.socket.send('ACK_PLAY','message-from-browser')
      this.$store.commit('SET_PLAYER_READY')
      this.isDisabled = true;
    },
  }
}
</script>

<style scoped>

.ready-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.modal-card{
  background: #f1f1f1;
  color: #333;
  padding: 50px;
  position: fixed;
  top: 40%;
}
.ready-btn{
  border: 3px solid;
}

</style>