<template>
  <v-app>
    <v-app-bar
        app
        color="primary"
        dark
    >
      <div class="d-flex align-center">
        <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="https://www.regledujeu.fr/wp-content/uploads/6qui-prend.png"
            transition="scale-transition"
            width="40"
        />

        <v-img
            alt="Vuetify Name"
            class="shrink mt-1 hidden-sm-and-down"
            contain
            min-width="100"
            src="https://www.gigamic-adds.com/images/games/sixQuiPrend/Logo-6quiprend.png"
            width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
          href="https://www.regledujeu.fr/6-qui-prend/"
          target="_blank"
          text
      >
        <span class="mr-2">👉 Règles du jeu </span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import {mapActions} from 'vuex'
//const { ipcMain } = require('electron')

export default {
  name: 'App',

  data: () => ({
    //
  }),
  methods: {
    ...mapActions(['listenSocketMsg']),
  },
  mounted() {
    // Listen message from socket server
    this.listenSocketMsg()
    /*ipcMain.on('message-from-browser', (event, arg) => {

      if (arg === 'START') {

        this.$store.commit('SET_PLAYER')
      }
      if (arg === 'ACK_PLAY') {
        this.$store.commit('SET_PLAYER_READY')
      }
    })*/
// si ça marche pas mettre ipcmain.on ici
  }
  ,
}
;
</script>
